body{
    background: black;
    color: azure;
}
.nav{
    background: dimgray;
    padding: 5px 10px;

}
.nav ul li{
        list-style: none;

}
.nav ul li a{
    color: azure;
    text-decoration: none;
}
.nav ul li a:hover{
    color: aqua;
}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 800px;
    margin: auto;
}
.input{
    background: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}