<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
{% extends 'layouts/base.html' %}

{% block content %}
<h1>About Me</h1>
<p>Hello, it´s great pleasure to have you here. Let me introduce myself.
    My name is RJ, I´m a business major who felt in love with python first and then discover a whole new world when I got introduced
to Django. I decided to specialized in it and then, I started going into more tools to be able to get the most
out of Django. Things like:</p>

<p>-SQL (PostgreSQL and MySQL</p>
<p>-HTML</p>
<p>-CSS</p>
<p>-Bootstrap</p>
<p>And of course I needed an IDE, so I mostly work with Pycharm</p>

{% endblock %}

</body>
</html>